*{
    margin: 0;
    padding: 0;
}

#game{
    width: 600px;
    height: 200px;
    border: 3px solid rgb(8, 253, 0);
    margin: auto;
}

#dino{
    width: 50px;
    height: 50px;
    background-image: url(img.png/mario_2.webp);
    background-size: 50px 60px;
    position: relative;
    top: 150px;
}

.animar{
    animation: dino 600ms infinite; 
}

@keyframes dino{
    0%{top: 150px;}
    20%{top: 100px;}
    60%{top: 100px;}
    100%{top: 150px;}
}

#quadrado{
    width: 20px;
    height: 40px;
    background-image: url(img.png/Cano.jpg);
    position: relative;
    top: 110px;
    left: 580px;
    animation: quadrado 1s infinite linear;
}

@keyframes quadrado{
    0%{left: 580px;}
    100%{left: 0px;}
}